.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}
.thongtin, .lienhe {
    flex: 1;
    padding: 10px;
}
h1 {
    color: blue;
}
hr {
    border-color: red;
    border-top: 10;
}
.container input{   
    width: 500px;
    height: 40px;
    margin-top: 10px;
}
.container button {
    margin-top: 10px;
    width: 200px;
    height: 35px;
    background-color: rgb(28, 142, 212);
    color: white;
    border-color: lightskyblue;
}
#noidung {
    height: 100px;
}